@media (max-width: 600px) {
body{
    background:url(images/road.jpg);
}
}
head{
    background-color: rgba(255, 204, 0, 0.8);
}
.shapka-div{
    color: yellow;
}
.logo{
    width: 24%;
    height: auto;
    transform: translate(-18px, 0px);
}